{{- $img := .Page.Resources.GetMatch ( path.Clean .Destination ) -}}
{{- if and (not $img) .Page.File -}}
{{ $path := path.Join .Page.File.Dir .Destination }}
{{- $img = resources.Get $path -}}
{{- end -}}
{{- with $img -}}
{{/* TODO restore after fix https://github.com/golang/go/issues/60437
    {{- $large := $img.Resize "1200x" -}}
    {{ $medium := $large.Fill "726x402" -}}
    {{ $small := $medium.Fill "458x254" -}}
*/}}
<figure class="image-caption">
    <img alt="{{ $.Text }}"
        width="{{ $img.Width }}"
        src="{{ $img.Permalink }}" />
    <figcaption>{{ with $.Title | safeHTML }}{{ . }}{{ end }}</figcaption>
</figure>
{{- else -}}
<img src="{{ .Destination | safeURL }}" alt="{{ $.Text }}" />
{{- end -}}
