<!DOCTYPE html>
<html>
	{{ partial "header.html" . }}
	<body>
		<div class="content">
			{{ partial "head.html" . }}

			<main class="list">
                <h3 id="deploy">
                    404 | Not found page
                </h3>
				It seems you've navigated to a non-existent link. If you're confident that it wasn't a fluke,
                please let me know via <a href="mailto:vova@qdo.ee?subject=Broken link on your blog">email</a>.
			</main>
			{{ partial "footer.html" . }}
		</div>
	</body>
</html>
